<h1>Get</h1>
<div align="left"><br>
  <input type="checkbox" name="option1" value="Milk"> Milk<br>
  <input type="checkbox" name="option2" value="Butter" checked> Butter<br>
  <input type="checkbox" name="option3" value="Cheese"> Cheese<br>
<br>
</div>