<p><b>Iniciar sesión</b></p>
<form action="/login" method="post">
  <p>Email: <input type="text" name="email" placeholder="example@mail.com"></p>
  <p>Password: <input type="password" name="password"></p>
  <input type="submit" value="Aceptar">
</form>

<br>
<div align="right">
	<form action="/" method="get">
	<input type="submit" value="Regresar">
</form>
</div>