<p><b>Enter the following data to create your account:</b></p>

<form action="/register" method="post">
	<p>Name:</p>
  <input type="text" name="name" placeholder="Name"><br><br>
  <p>Email:</p>
  <input type="email" name="email" placeholder="Email"><br><br>
  <p>Password:</p>
  <input type="password" name="password" placeholder="Password"><br><br>
  <div align="right">
  	<input type="submit" value="OK">
  </div>
</form>