<form id="new_post" action="/new_post" method="post">
	<div align="left" class="roundfield">
	<span>Título</span>
	<div class="c-form-group">
		<input id="title" style="margin: 0px; width: 495px;">
	</div>
	<span>Escribe aquí tu post</span>
	<div class="c-form-group">
		<textarea name="title" rows="2" required="" style="margin: 0px; width: 495px; height: 115px;"></textarea>
	</div>
	<div align="center">
		<input type="submit" value="Enviar"> <input type="submit" value="Cancelar">
	</div>
	</div>
</form>