<br>
<form id="update_tag" action="/edit_tag/<%= @tag.id %>" method="post">
	<div align="center" class="roundfield">
		<div align="left">
			<span>Editar tag</span>
			<br>
			<br>
			<input name="tag" style="margin: 0px; width: 515px;" value="<%= @tag.tag %>">
			<br>
			<br>
			<div align="center">
				<input type="submit" value="Aceptar">
			</div>
		</div>
	</div>
</form>