<h1>Welcome to MiniSubmarine!</h1>
<div class="content">
  <img src="/img/submarine.jpeg">
</div>
<div class="container title">
   <!-- ¿Qué va en esta parte para realizar sign in/up y mostrar lista de ganadores? -->  
  <button id="login_btn" class="myButton"><a href="/signin">Login</a></button>
  <br>
  <br>
  <button id="sign_up_btn" class="myButton"><a href="/signup">Sign up</a></button>
  <br>
  <br>
  <a href="/records">Records</a>
</div>